<head>
	<meta charset="UTF-8">
	<title>Rebecca - Exquisite Blog HTML Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Fjalla+One%7CNoto+Serif%3A400%2C700%7CRoboto+Condensed%3A400%2C400i%2C700%2C700i%27CSlabo+27px' type='text/css' media='all' />

	<link rel="stylesheet" type="text/css" href="css/libs/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/libs/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>